@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

/* global */
:root {
    --main-color: #081158;
    --second-color:#FBB244;
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans', sans-serif;
    color:#000;
    background-color:#fff;
}
.container{
    margin-left:auto;
    margin-right:auto;
    padding-left:15px;
    padding-right:15px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(auto, 1fr));
    grid-gap:30px
}
.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(auto, 1fr));
}
/* mobile */
@media(min-width:576px){
    .container{
        width:540px
    }
}
/* tablet */
@media(min-width:768px){
    .container{
        width:750px
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
    .grid-3 {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}
/* medium screen */
@media(min-width:992px){
    .container{
        width:970px
    }
}
/* large screen */
@media(min-width:1200px){
    .container{
        width:1170px
    }
}
h3 {
    font-size: 18px;
    font-weight: 700;
}
h1 {
    margin:15px 0;
    color:var(--main-color);
    font-weight: 800;
    line-height: 1.3;
}
@media(min-width:576px) {
    h1 {
        font-size:45px
    }
}
a {
    text-decoration:none;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 24px;
}
ul {
    list-style: none;
}
img{
    max-width:100%
}
.card {
    padding: 30px;
    border: 1px solid rgb(0 0 0 / 5%);
    border-radius: 10px;
}
.lead {
    line-height: 24px;
    color:rgb(0,0 ,0, 0.5 );
    font-weight: 400;
    letter-spacing: 1px;
}
.spad{
    padding-top:100px;
    padding-bottom:100px;
}
.text-center{
    text-align: center;
}
.btn {
    border:none;
    padding:16px 30px;
    border-radius: 50px;
    outline:none;
    font-size:16px;
    width:fit-content;
    border: 1px solid var(--main-color);
    font-weight: 500;
    margin-bottom:10px;
    margin-right:15px;
    cursor: pointer;
}
.btn-primary{
    background-color: var(--main-color);
    color:var(--second-color)
}
.btn-light{
    background-color: var(--main-color);
    color:#fff;
    transition:0.5s
}
.btn-muted{
    background-color: #fff;
    color:var(--main-color);
    transition:0.5s
}
.btn-muted:hover{
    background-color: var(--main-color);
    color:#fff
}
.btn-light:hover{
    background-color: #fff;
    color:var(--main-color);
}
/* special section */ 
.special-section {
    margin-bottom:20px
}
.special-section h2 {
    color:var(--main-color);
    text-transform:capitalize;
    margin-bottom:20px
}
@media(min-width:576px) {
    .special-section h2 {
        font-size:45px
    }
}

.special-section .lead {
    max-width: 500px;
    margin: auto;
    color:rgb(0,0 ,0, 0.5 );
    font-size:15px
}
.mb-1 {
    margin-bottom: 1rem
}
.mb-2 {
    margin-bottom: 2rem
}
.mb-3 {
    margin-bottom: 3rem
}
.mb-4 {
    margin-bottom: 4rem
}
.mt-2 {
    margin-top: 2rem
}
/* navbar */ 
.navbar {
    padding-top:20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo{
    font-size:30px;
    text-transform:uppercase;
    font-weight: 600;
}
.navbar .navbar-nav {
    display: flex;
    justify-content: space-between;
}
.navbar .navbar-nav .nav-item{
    padding:10px;
    
}

.navbar .navbar-nav .nav-link{
    padding:10px;
    color: rgb(0,0 ,0, 0.7 );
    text-transform: capitalize;
}
.navbar .navbar-nav .nav-link.active{
    color:var(--main-color)
}
.toggle{
    border: none;
    padding: 10px;
    font-size: 28px;
    color: var(--main-color);
    background: transparent;
    display: none;
}
@media(max-width: 991px){
    .navbar{
        display:flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar .navbar-nav {
        flex-direction: column;
    }
    .navbar .logo{
        padding:10px;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .toggle {
        display: block;
    }
    .navbar .navbar-nav{
        display: none;
    }
    .navbar .navbar-nav.show{
        display:block
    }
}

/* intro */
.intro {
    padding-top:70px
}
.intro-text {
    background-color: rgba(251, 178, 68, 0.2);
    color:var(--second-color);
    border-radius: 25px;
    padding:5px 25px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}
.intro .lead {
    margin-bottom:50px
}
.intro .intro-img{
    align-self: center;
}

/* about */ 
.about .grid-3 {
    text-align: center;
    padding-top:50px
}

.icon {
    position: relative;
    font-size: 32px;
    margin-bottom: 10px;
    text-align: center;
    color: #333;
    padding-top: 6px;
}
.icon:after{
    content: "";
    position: absolute;
    top: -22px;
    left: 12px;
    background: var(--second-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: -1;
    opacity: 0.5;
    margin-top: 12px;   
}

/* features*/
.flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media (min-width: 992px) {
    .features .flex{
        flex-direction:row ;
    }
    .features .col-lg-7{
        width:58%;
        flex: 0 0 auto;
    }
    .features .col-lg-4 {
        width:33%;
        flex: 0 0 auto;
    }
}

/* services */ 

.services .card{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #0000000d;
}
.services h3 {
    margin:0;
    margin-bottom:10px
}
.services .serv {
    padding: 0 53px;
}
.services .special-section {
    padding-bottom:50px
}

@media (max-width: 575px) {
    
}

/* testimonals */
.testi{
    background:#f8f9fa
}
.testi .flex{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.testi img {
    width: 50px;
    border-radius:50%
}
.testi h3 {
    font-weight:100
}
.testi span{
    font-size: 14px;
    color:rgba(0, 0, 0, 0.5)
}
.testi .author-name{
    padding-left: 15px;
}
/* footer */
.footer{
    font-size:14px
}

@media(min-width:768px){
    .footer-grid {
        display: grid;
        grid-template-columns: 1fr auto auto 1fr;
        grid-gap:50px
    }
}
@media(max-width: 767px) {
    .mb-res{
        margin-bottom: 2rem
    }
}
.footer a {
    display:block;
    padding-top:15px;
    color:rgb(153, 153, 153);
    transition:0.2s
}
.footer a:hover{
    color:#000
}
.footer .footer-right i {
    margin-bottom: 20px;
    padding-right: 9px;
    color: rgb(153, 153, 153);
}
.footer .footer-copy{
    text-align: center;
    margin-top: 97px;
    margin-bottom: 20px;
    color: rgb(153, 153, 153);
}
